@import "_reset.css";
@import "_grid.css";
@import "_normalize.css";
@import "_body.css";

html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a{
	&:focus { 
  		outline: thin dotted; }
	&:active,
	&:hover {
  		outline: 0; }
  		